[submodule "reference/leptonica"]
	path = reference/leptonica
	url = git@github.com:DanBloomberg/leptonica.git
[submodule "reference/jbig2enc"]
	path = reference/jbig2enc
	url = https://github.com/agl/jbig2enc.git
